[settings]
profile = "black"
known_third_party = argcomplete,attr,attrs,bson,codeg,coloring,devtools,docstring_parser,fwm,jinja2,koala,koalak,myargparse,openpyxl,playsound,pymongo,pytest,rich,selenium,setuptools,sqlalchemy,toml,typeguard,typer
