[buildout]
extends =
# `zope.interface` 6.0 does not support `implements` anymore, but `zeam.form.base` 
# 1.4.1 uses it. So we have to restrict Zope to 5.8.1 for now. 
    https://raw.githubusercontent.com/zopefoundation/Zope/5.8.1/versions.cfg
    buildout-base.cfg
