# base buildout configuration which does no version pinning at all
[buildout]
develop = .
parts =
    interpreter
    test
extras =
test_extras = test
index = https://pypi.org/simple
allow-picked-versions = true
show-picked-versions = true

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs =
    Products.Formulator

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.Formulator[${buildout:test_extras}]
